extends ../components/base/layout

block variables
    - const title = "Device Engineering | О компании"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "about.html"

block main
    main
      +description({
        firstTitle: "true",
        title: "О&nbsp;компании",
        description: [
          "ООО &laquo;Дивайс Инжиниринг&raquo; (входит в&nbsp;холдинг &laquo;МТВ&raquo;)&nbsp;&mdash; динамично развивающаяся компания, которая проводит технические испытания, исследования, анализ и&nbsp;сертификацию",
          "Основным видом деятельности компании ООО &laquo;Дивайс Инжиниринг&raquo; являются предоставление профессиональных услуг в&nbsp;сфере энергетической эффективности и&nbsp;технического консалтинга в&nbsp;области инженерно-технического обеспечения.",
          "Какие задачи мы&nbsp;решаем:",
          "Повышение эффективности работы оборудования и&nbsp;обслуживающего персонала.",
          "Увеличение скорости принятия решений по&nbsp;управлению промышленным предприятием.",
          "разработка предложений по&nbsp;проведению организационно-технических мероприятийпо повышению эффективности использования топливо-энергетических ресурсов"
        ],
        video: {
          preview: {
            src: "preview",
            format: "webp",
            width: "680",
            height: "370",
            alt: "preview"
          }
        }
      })
      +modeling({
        title: "Моделирование и&nbsp;цифровизация объектов энергетической инфраструктуры",
        content: [
          "Применение математического моделирования энергетической инфраструктуры обеспечит возможность проработки всех возможных эксплуатационных режимов её&nbsp;работы и&nbsp;вариантов модернизации для решения следующих задач:"
        ],
        list: [
          "рациональное планирование затрат при новом строительстве, реконструкции, модернизации и&nbsp;эксплуатации",
          "снижение сроков подготовки и&nbsp;проверки проектных решений",
          "повышение производитель&nbsp;&mdash; ности труда",
          "качественное повышение надёжности энергосистем"
        ]
      })
      +completed-projects()
      +feedback()

block modals
