extends ../components/base/layout

block variables
    - const title = "Device Engineering | Заказчики"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "clients.html"

block main
    main
      +inner-page({
        title: "Заказчики",
        description: "Компания ООО &laquo;Дивайс Инжиниринг&raquo; уже много лет тесно и&nbsp;активно сотрудничает со&nbsp;многими крупными российскими предприятиями и&nbsp;организациями",
        list: [
          {
            image: {
              path: "content/clients",
              src: "logo-1",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ГУП РК&nbsp;&laquo;КарелКоммунЭнерго&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-2",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ГУП РК&nbsp;&laquo;КарелКоммунЭнерго&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-3",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ГУП РК&nbsp;&laquo;КарелКоммунЭнерго&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-4",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ГУП РК&nbsp;&laquo;КарелКоммунЭнерго&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-5",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "АО&nbsp;&laquo;Диаконт&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-6",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "АО&nbsp;&laquo;Корякэнерго&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-7",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "АО&nbsp;&laquo;Ямалкоммунэнерго&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-8",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "АО&nbsp;&laquo;ЛОМО&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-9",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ОАО &quot;ХТК&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-10",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "АО&nbsp;&laquo;РИР&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-11",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ПАО &laquo;ОГК-2&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-12",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "РУСАЛ"
          }
        ],
        button: "true"
      })
      +feedback()

block modals
  +modal("modal--feedback", {name: "icon-close", width: "32", height: "32"})(data-modal="feedback")
    +modal-feedback()
