extends ../components/base/layout

block variables
    - const title = "global"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "index.html"

block main
    main
      +intro({
        title: "Device Engineering",
        description: "Профессиональные услуги в&nbsp;сфере энергетической эффективности и&nbsp;технического консалтинга в&nbsp;области инженерно-технического обеспечения",
        button: {
          href: "#",
          text: "Оставить заявку"
        },
        image: {
          src: "intro-image",
          format: "webp",
          width: "1060",
          height: "582",
          alt: "image"
        }
      })
      +service()

block modals
