extends ../components/base/layout

block variables
    - const title = "Device Engineering"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "index.html"

block main
    main
      +intro({
        title: "Device Engineering",
        description: "Профессиональные услуги в&nbsp;сфере энергетической эффективности и&nbsp;технического консалтинга в&nbsp;области инженерно-технического обеспечения",
        button: {
          href: "#",
          text: "Оставить заявку"
        },
        image: {
          src: "intro-image",
          format: "webp",
          width: "1060",
          height: "582",
          alt: "image"
        }
      })
      +service()
      +clients({
        title: "Заказчики",
        list: [
          {
            image: {
              path: "content/clients",
              src: "logo-1",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ГУП РК&nbsp;&laquo;КарелКоммунЭнерго&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-2",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ГУП РК&nbsp;&laquo;КарелКоммунЭнерго&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-3",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ГУП РК&nbsp;&laquo;КарелКоммунЭнерго&raquo;"
          },
          {
            image: {
              path: "content/clients",
              src: "logo-4",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ГУП РК&nbsp;&laquo;КарелКоммунЭнерго&raquo;"
          }
        ]
      })
      +certificates()
      +clients({
        title: "Наши партнеры",
        list: [
          {
            image: {
              path: "content/partners",
              src: "logo-1",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "Санкт-Петербургский политехнический университет Петра Великого"
          },
          {
            image: {
              path: "content/partners",
              src: "logo-2",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ФБУ &laquo;НТЦ Энергобезопасность&raquo;"
          },
          {
            image: {
              path: "content/partners",
              src: "logo-3",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ФБУ &laquo;НТЦ Энергобезопасность&raquo;"
          },
          {
            image: {
              path: "content/partners",
              src: "logo-4",
              format: "webp",
              width: "240",
              height: "150",
              alt: "logo"
            },
            title: "ООО &laquo;ЛЕД-Эффект&raquo;"
          }
        ]
      })
      +feedback()

block modals
  +modal("modal--feedback", {name: "icon-close", width: "32", height: "32"})(data-modal="feedback")
    +modal-feedback()
  +modal("modal--gallery", {name: "icon-close-white", width: "48", height: "48"})(data-modal="gallery")
    +modal-gallery()
