extends ../components/base/layout

block variables
    - const title = "Device Engineering | Благодарсвенные письма"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "reviews.html"

block main
    main
      +inner-page({
        title: "Благодарсвенные письма",
        description: "На&nbsp;этой странице вы&nbsp;можете ознакомиться с&nbsp;благодарственными письмами от&nbsp;клиентов компании ООО &laquo;Дивайс Инжиниринг&raquo;.",
        list: [
          {
            image: {
              src: "review-1",
              format: "webp",
              width: "200",
              height: "280",
              alt: "review"
            },
            title: "Отзыв о&nbsp;проделанной работе от&nbsp;АО&nbsp;&laquo;Омск РТС&raquo;"
          },
          {
            image: {
              src: "review-1",
              format: "webp",
              width: "200",
              height: "280",
              alt: "review"
            },
            title: "Отзыв о&nbsp;проделанной работе от&nbsp;АО&nbsp;&laquo;Омск РТС&raquo;"
          },
          {
            image: {
              src: "review-1",
              format: "webp",
              width: "200",
              height: "280",
              alt: "review"
            },
            title: "Отзыв о&nbsp;проделанной работе от&nbsp;АО&nbsp;&laquo;Омск РТС&raquo;"
          },
          {
            image: {
              src: "review-1",
              format: "webp",
              width: "200",
              height: "280",
              alt: "review"
            },
            title: "Отзыв о&nbsp;проделанной работе от&nbsp;АО&nbsp;&laquo;Омск РТС&raquo;"
          },
          {
            image: {
              src: "review-1",
              format: "webp",
              width: "200",
              height: "280",
              alt: "review"
            },
            title: "Отзыв о&nbsp;проделанной работе от&nbsp;АО&nbsp;&laquo;Омск РТС&raquo;"
          },
          {
            image: {
              src: "review-1",
              format: "webp",
              width: "200",
              height: "280",
              alt: "review"
            },
            title: "Отзыв о&nbsp;проделанной работе от&nbsp;АО&nbsp;&laquo;Омск РТС&raquo;"
          },
          {
            image: {
              src: "review-1",
              format: "webp",
              width: "200",
              height: "280",
              alt: "review"
            },
            title: "Отзыв о&nbsp;проделанной работе от&nbsp;АО&nbsp;&laquo;Омск РТС&raquo;"
          },
          {
            image: {
              src: "review-1",
              format: "webp",
              width: "200",
              height: "280",
              alt: "review"
            },
            title: "Отзыв о&nbsp;проделанной работе от&nbsp;АО&nbsp;&laquo;Омск РТС&raquo;"
          }
        ],
        button: "true"
      })
      +feedback()

block modals
  +modal("modal--feedback", {name: "icon-close", width: "32", height: "32"})(data-modal="feedback")
    +modal-feedback()
