extends ../components/base/layout

block variables
    - const title = "Device Engineering | Услуги"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "service.html"

block main
    main
      +inner-page({
        title: "Услуги",
        description: "ООО &laquo;Дивайс Инжиниринг&raquo; предоставляет весь спектр услуг в&nbsp;сфере энергетической эффективности и&nbsp;технического консалтинга в&nbsp;области инженерно-технического обеспечения, которые помогут организациям повысить не&nbsp;только свою производительность, но&nbsp;и&nbsp;сэкономить свои ресурсы.",
        list: [
          {
            href: "#",
            title: "Энергетическое обследование",
            image: {
              src: "image-1",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Разработка программ энергосбережения",
            image: {
              src: "image-2",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Проведение испытаний тепловых сетей",
            image: {
              src: "image-3",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Разработка схем тепло-водоснабжения",
            image: {
              src: "image-4",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Разработка эксплуатационной документации",
            image: {
              src: "image-5",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Проведению режимно-наладочных испытаний котельного оборудования",
            image: {
              src: "image-6",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Разработка проектов в&nbsp;области природоохранного нормирования для действующих предприятий",
            image: {
              src: "image-7",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Разработка специальных разделов проектной документации",
            image: {
              src: "image-8",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Подготовка, сопровождение и&nbsp;утверждение в&nbsp;Министерстве энергетики Российской Федерации материалов",
            image: {
              src: "image-9",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Технико-финансовое математическое моделирование технологических и&nbsp;энергетических систем",
            image: {
              src: "image-10",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Проведение наладочных гидравлических расчётов в&nbsp;Геоинформационном комплексе ZULU",
            image: {
              src: "image-11",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          },
          {
            href: "#",
            title: "Проведение наладки системы теплоснабжения",
            image: {
              src: "image-12",
              format: "webp",
              width: "320",
              height: "460",
              alt: "image"
            }
          }
        ]
      })
      +feedback()

block modals
  +modal("modal--feedback", {name: "icon-close", width: "32", height: "32"})(data-modal="feedback")
    +modal-feedback()
