extends ../components/base/layout

block variables
    - const title = "Device Engineering | Энергетическое обследование"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "service-single.html"

block main
    main
      +intro({
        background: {
          src: "background-inner",
          format: "webp",
          width: "1920",
          height: "426",
          alt: "background"
        },
        title: "Энергетическое обследование",
        description: "В&nbsp;ходе энергетического обследования собирается информация об&nbsp;объеме используемых предприятием энергетических ресурсов, выявляется возможность энергосбережения и&nbsp;повышения энергетической эффективности.",
        button: {
          href: "#",
          text: "Заказать услугу"
        }
      }).intro--inner-page
      +description()
      +equipment()
      +passport()
      +report()
      +feedback()

block modals
