extends ../components/base/layout

block variables
    - const title = "Device Engineering | Энергетическое обследование"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "single-project.html"

block main
    main
      +intro({
        background: {
          src: "background-inner-2",
          format: "webp",
          width: "1920",
          height: "426",
          alt: "background"
        },
        title: "Обязательное энергетическое обследование объектов одной из&nbsp;крупнейших распределительных электросетевых компаний России ПАО &laquo;Московская объединённая электросетевая компания&raquo;"
      }).intro--inner-page.intro--project
      +description({
        title: "О&nbsp;проекте",
        description: [
          "Специалистами ООО &laquo;Дивайс Инжиниринг&raquo; завершены работы по&nbsp;проведению обязательного энергетического обследования объектов ПАО &laquo;Московская электросетевая компания&raquo;&nbsp;&mdash; одна из&nbsp;крупнейших распределительных электросетевых компаний России.",
          "В&nbsp;структуру компании входят 8&nbsp;филиалов, с&nbsp;территорией обслуживания 46,9&nbsp;тыс.&nbsp;кв.км.&nbsp;и&nbsp;численностью населения обслуживания 20&nbsp;млн человек.",
          "Основными видами деятельности Общества являются оказание услуг по&nbsp;передаче и&nbsp;распределению электроэнергии, технологическое присоединение потребителей к&nbsp;электрическим сетям.",
          "Протяжённость воздушных линий электропередач составляет около 75,4 тыс.км., протяжённость кабельных линий электропередач составляет 81,2&nbsp;тыс.&nbsp;км."
        ],
        image: {
          src: "image",
          format: "webp",
          width: "680",
          height: "370",
          alt: "image"
        }
      })
      +report({
        title: "Результаты проведённых работ",
        content: [
          "В&nbsp;ходе работы было проведено документальное обследование филиалов и&nbsp;Исполнительного аппарата ПАО &laquo;МОЭСК&raquo; с&nbsp;разработкой отчётной документации и&nbsp;инструментальное обследование более 1700 объектов электросетевого комплекса, трансформаторных подстанций с&nbsp;классом напряжения 6/10/35/110/220&nbsp;кВ, и&nbsp;96&nbsp;зданий, строений и&nbsp;сооружений.",
          "Энергетический паспорт согласован службами и&nbsp;филиалами ПАО &laquo;МОЭСК&raquo;, а&nbsp;также ПАО &laquo;Россети&raquo;.",
          "Проведена экспертиза энергетического паспорта независимой экспертной организацией.",
          "На&nbsp;этапе регистрации энергетического паспорта в&nbsp;саморегулируемой организации (СРО) Некоммерческое партнёрство энергоаудиторов &laquo;Инженерные системы-аудит&raquo; Энергетическому паспорту присвоен номер &#8470;&nbsp;032.048.0637&ndash;2018 от&nbsp;&laquo;03&raquo; октября 2019&nbsp;года.",
          "<b>Завершённый проект, является уникальным по&nbsp;составу и&nbsp;объёму работ, который был успешно реализован квалифицированными специалистами ООО &laquo;Дивайс Инжиниринг&raquo;.</b>"
        ]
      })
      +feedback()

block modals
