extends ../components/base/layout

block variables
    - const title = "Device Engineering | Энергетическое обследование"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "single-service.html"

block main
    main
      +intro({
        background: {
          src: "background-inner",
          format: "webp",
          width: "1920",
          height: "426",
          alt: "background"
        },
        title: "Энергетическое обследование",
        description: "В&nbsp;ходе энергетического обследования собирается информация об&nbsp;объеме используемых предприятием энергетических ресурсов, выявляется возможность энергосбережения и&nbsp;повышения энергетической эффективности.",
        button: {
          href: "#",
          text: "Заказать услугу"
        }
      }).intro--inner-page.intro--service
      +description({
        title: "Энергоаудит зданий и&nbsp;сооружений",
        description: [
          "Главный смысл проведения энергетического аудита, конечно, в&nbsp;повышении эффективности их&nbsp;использования, ликвидации нерационального расхода электроэнергии, мест утечки тепла или воды.",
          "В&nbsp;ряде случаев проведение энергетического обследования промышленных предприятий и&nbsp;организаций необходимо согласно требованиям законодательства в&nbsp;сфере энергоэффективности, в&nbsp;других случаях данная процедура добровольна. Организация энергоаудита энергосбережения необходима, когда требуется прохождение сертификации энергоэффективности.",
          "Такой сертификат, как и&nbsp;паспорт энергосбережения обязателен к&nbsp;оформлению"
        ],
        video: {
          preview: {
            src: "preview",
            format: "webp",
            width: "680",
            height: "370",
            alt: "preview"
          }
        }
      })
      +equipment()
      +passport()
      +report({
        title: "Отчет о&nbsp;проведенном энергетическом обследовании",
        content: [
          "Отчет в&nbsp;большей степени относительно энергетического паспорта позволяет оценить обследуемый объект.",
          "В&nbsp;отчет в&nbsp;дополнение к&nbsp;общей информации об&nbsp;объекте входит:",
          "&mdash;&nbsp;расчёт фактических показателей эффективности потребления топлива и&nbsp;всех видов энергоносителей;",
          "&mdash;&nbsp;анализ результатов сравнения фактических и&nbsp;нормативных показателей энергоэффективности использования топливо-энергетических ресурсов в&nbsp;сопоставимых условиях;",
          "&mdash;&nbsp;составление перечня причин несоответствия фактических показателей энергоэффективности их&nbsp;нормативным значениям;",
          "&mdash;&nbsp;анализ использования топливо-энергетических ресурсов;",
          "&mdash;&nbsp;составление топливо-энергетических балансов;",
          "&mdash;&nbsp;разработка предложений по&nbsp;проведению организационно-технических мероприятийпо повышению эффективности использования топливо-энергетических ресурсов."
        ]
      })
      +feedback()

block modals
