extends ../components/base/layout

block variables
    - const title = "Device Engineering | Спасибо за вашу заявку!"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "success.html"

block main
    main
      +page-success()
block modals
  +modal("modal--feedback", {name: "icon-close", width: "32", height: "32"})(data-modal="feedback")
    +modal-feedback()
