mixin description(data)
  section.description
    .container
      .description__wrapper
          if (data.firstTitle)
            h1.title.title--h1!=data.title
          else
            h2.title.title--h2!=data.title
          .description__info
            .description__content
              each item in data.description
                p!=item
            if (data.video)
              .description__video
                .description__preview
                  +img("content/description", data.video.preview.src, data.video.preview.format, data.video.preview.width, data.video.preview.height, data.video.preview.alt)
                  button(type="button").btn-reset.description__play-button
                    +icon("icon-play", 48, 48)
            if (data.image)
              .description__image
                +img("content/description", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
