mixin inner-page(data)
  section.inner-page
    .container
      h1.title.title--h1!=data.title
      p.inner-page__description!=data.description
      if (data.list)
        ul.list-reset.inner-page__list(class=data.listMods)
          each item in data.list
            li.inner-page__item
              if (currentUrl === "partners.html")
                +client-card(item)
              if (currentUrl === "clients.html")
                +client-card(item)
              if (currentUrl === "service.html")
                +service-card(item)
              if (currentUrl === "certificates.html")
                +certificate-card(item)
              if (currentUrl === "reviews.html")
                +review-card(item)
              if (currentUrl === "projects.html")
                +project-card(item)
      if (data.button)
        +btn({type: "button", text: "Загрузить еще"}).btn--border.inner-page__button
      if block
        block
