mixin intro(data)
  section.intro
    if (data.background)
      .intro__background
        +img("content/intro", data.background.src, data.background.format, data.background.width, data.background.height, data.background.alt)
    .container
      .intro__wrapper
        h1.intro__title!=data.title
        if (data.description)
          p.intro__description!=data.description
        if (data.button)
          +btn({href: data.button.href, text: data.button.text}).btn--big.intro__button
        .intro__image
          +img("content/intro", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
