mixin passport()
  section.passport
    .container
      .passport__wrapper
        h2.title.title--h2 Энергетический паспорт
        .passport__info
          .passport__content
            p Энергетический паспорт&nbsp;&mdash; согласованный документ установленного образца, который содержит следующие сведения:
            br
            p &mdash;&nbsp;оснащенность приборами учета;
            p &mdash;&nbsp;количество потребленных топливо-энергетических ресурсов за&nbsp;последние 5&nbsp;лет;
            p &mdash;&nbsp;объемы потребления энергетических ресурсов в&nbsp;денежном эквиваленте;
            p &mdash;&nbsp;основные энергетические показатели объекта;
            p &mdash;&nbsp;перечень мероприятий по&nbsp;энергосбережению и&nbsp;повышению энергетической эффективностисо сроками окупаемости.
            br
            p Основная цель энергопаспорта:
            br
            ul
              li получения достоверной информации об&nbsp;объеме используемых энергетических ресурсов и&nbsp;воды,
              li определения показателей энергетической эффективности,
              li выявления возможностей энергосбережения и&nbsp;повышения энергоэффективности,
              li а&nbsp;также разработки мероприятий по&nbsp;энергосбережению и&nbsp;повышению энергетической эффективности.
          a.passport__link(href="#")
            .passport__image
              +img("content/passport", "passport", "webp", "320", "450", "passport")
