mixin report()
  section.report
    .container
      .report__wrapper
        h2.title.title--h2 Отчет о&nbsp;проведенном энергетическом обследовании
        .report__content
          p Отчет в&nbsp;большей степени относительно энергетического паспорта позволяет оценить обследуемый объект.
          p В&nbsp;отчет в&nbsp;дополнение к&nbsp;общей информации об&nbsp;объекте входит:
          p &mdash;&nbsp;расчёт фактических показателей эффективности потребления топлива и&nbsp;всех видов энергоносителей;
          p &mdash;&nbsp;анализ результатов сравнения фактических и&nbsp;нормативных показателей энергоэффективности использования топливо-энергетических ресурсов в&nbsp;сопоставимых условиях;
          p &mdash;&nbsp;составление перечня причин несоответствия фактических показателей энергоэффективности их&nbsp;нормативным значениям;
          p &mdash;&nbsp;анализ использования топливо-энергетических ресурсов;
          p &mdash;&nbsp;составление топливо-энергетических балансов;
          p &mdash;&nbsp;разработка предложений по&nbsp;проведению организационно-технических мероприятийпо повышению эффективности использования топливо-энергетических ресурсов.
