mixin service()
  -
    const list = [
      {
        href: "#",
        title: "Энергетическое обследование",
        image: {
          src: "image-1",
          format: "webp",
          width: "320",
          height: "460",
          alt: "image"
        }
      },
      {
        href: "#",
        title: "Разработка программ энергосбережения",
        image: {
          src: "image-2",
          format: "webp",
          width: "320",
          height: "460",
          alt: "image"
        }
      },
      {
        href: "#",
        title: "Проведение испытаний тепловых сетей",
        image: {
          src: "image-3",
          format: "webp",
          width: "320",
          height: "460",
          alt: "image"
        }
      },
      {
        href: "#",
        title: "Разработка схем тепло-водоснабжения",
        image: {
          src: "image-4",
          format: "webp",
          width: "320",
          height: "460",
          alt: "image"
        }
      }
    ]

  section.service
    .service__background
      +img("content/service", "background", "webp", 1756, 724, "background")
    .container
      .service__wrapper
        h2.title Услуги
        ul.list-reset.service__list
          each item in list
            li.service__item
              +service-card(item)
        +btn({href: "#", text: "Смотреть все"}).btn--border.service__button
