mixin single-vacancy()
  section.single-vacancy
    .container
      .single-vacancy__wrapper
        h1.single-vacancy__title Инженер-теплоэнергетик
        p.single-vacancy__description Официальное трудоустройство. (ЗП&nbsp;от&nbsp;70&nbsp;000 до&nbsp;85&nbsp;000&nbsp;₽ на&nbsp;руки)
        .single-vacancy__content
          h2 Обязанности:
          ul
            li сбор и&nbsp;анализ данных по&nbsp;работе системы теплоснабжения;
            li обследование систем теплоснабжения (источник, тепловые сети, внутренние системы теплопотребления) для определения тепловых нагрузок;
            li выполнение наладочных расчётов тепловых сетей (расчёт смесительных и&nbsp;дроссельных устройств);
            li разработка режимов работы (температурных графиков, гидравлических режимов);
            li проведение режимно-наладочных испытаний тепловых сетей;
            li улучшение технико-экономических показателей работы тепловых сетей, центральных тепловых пунктов.
            li паспортизация систем теплоснабжения и&nbsp;теплопотребления;
            li оценка эффективности потребления энергоресурсов и&nbsp;потенциала энергосбережения;
            li деловая переписка.
          h2 Требования к&nbsp;работнику:
          ul
            li образование высшее по&nbsp;специализации инженер&nbsp;&mdash; теплоэнергетик&nbsp;/ инженер&nbsp;&mdash; теплотехник;
            li опыт работы от&nbsp;3&nbsp;лет;
            li знание теплоэнергетического оборудования, тепловых схем котельных и&nbsp;тепловых электростанций;
            li навыки ведения теплотехнических расчётов и&nbsp;гидравлических расчётов систем теплоснабжения;
            li опыт работы ZuluThermo; AutoCAD, MS&nbsp;Office
            li опыт разработки схем теплоснабжения;
            li готовность к&nbsp;командировкам.
          h2 Условия:
          ul
            li Офис: г. Санкт-Петербург, наб. Обводного канала, д.&nbsp;28
            li График: пятидневка, с&nbsp;9:00 до&nbsp;18:00
            li Оклад: на&nbsp;исп. срок (2&nbsp;месяца)&nbsp;&mdash; 50&nbsp;тыс.&nbsp;₽, после исп. срока 70&ndash;80&nbsp;тыс.&nbsp;₽&nbsp;(по&nbsp;результатам собеседования) + премиальные с&nbsp;проектов.
        p.single-vacancy__phone Телефон:
          =" "
          a(href="tel:+78123093688") +7&nbsp;812 309-36-88
        p.single-vacancy__email Резюме направлять на&nbsp;email:
          =" "
          a(href="mailto:info@d-i.su") info@d-i.su
