mixin vacancies()
  -
    const list = [
      {
        href: "#",
        date: "20.11.2023",
        title: "Офис-менеджер",
        salary: "от&nbsp;50&nbsp;000 до&nbsp;60&nbsp;000&nbsp;₽ на&nbsp;руки",
        description: "ООО &laquo;Дивайс Инжиниринг&raquo; приглашает на&nbsp;работу офис-менеджера. Распечатка и&nbsp;сшивка документации (копировально-множительные работы). Ведение реестра договоров/счётов. Обеспечение закрытия договорных документов"

      },
      {
        href: "#",
        date: "20.11.2023",
        title: "Инженер-теплоэнергетик",
        salary: "от&nbsp;70&nbsp;000 до&nbsp;85&nbsp;000&nbsp;₽ на&nbsp;руки",
        description: "ООО &laquo;Дивайс Инжиниринг&raquo; приглашает на&nbsp;должность Инженера-теплоэнергетика. Распечатка и&nbsp;сшивка документации (копировально-множительные работы). Ведение реестра договоров/счётов. Обеспечение закрытия договорных документов..."
      }
    ]

  section.vacancies
    .container
      .vacancies__wrapper
        h1.title.title--h1 Вакансии
        p.vacancies__description ООО &laquo;Дивайс Инжиниринг&raquo; (входит в&nbsp;холдинг &laquo;МТВ&raquo;)&nbsp;&mdash; динамично развивающаяся компания, представляющая полный спектр услуг в&nbsp;области энергетической эффективности и&nbsp;технического консалтинга в&nbsp;области инженерно-технического обеспечения с&nbsp;2008&nbsp;года.
        ul.list-reset.vacancies__list
          each item in list
            li.vacancies__item
              +vacancy-card(item)
