.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 13px 20px;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  border: none;
  border-radius: 8px;
  background-color: $color-smalt;
  color: $color-default-white;

  cursor: pointer;
  user-select: none;

  transition: background-color $trans-default;

  outline: none;

  &--small {
    padding: 10px 20px;
  }

  &--big {
    padding: 15px 20px;
  }

  @include hover-focus {
    background-color: $color-persian-blue;
  }

  @include active {
    background-color: $color-sapphire;
  }

  &--border {
    padding: 14px 19px;

    border: 1px solid $color-smalt;
    background-color: $color-default-white;
    color: $color-smalt;

    transition: border $trans-default, color $trans-default;

    @include hover-focus {
      border: 1px solid $color-persian-blue;
      background-color: $color-default-white;
      color: $color-persian-blue;
    }

    @include active {
      border: 1px solid $color-sapphire;
      background-color: $color-default-white;
      color: $color-sapphire;
    }
  }
}
