.passport {
  &__wrapper {
    padding: 60px 0;

    @include vp-1023 {
      padding: 50px 0;
    }

    @include vp-767 {
      padding: 40px 0;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 366px;
    column-gap: 176px;

    @include vp-1279 {
      column-gap: 60px;
    }

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      column-gap: unset;
    }
  }

  &__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    color: $color-default-black;

    @include vp-1023 {
      margin: 0 0 20px;
    }

    @include vp-767 {
      margin: 0 0 34px;

      font-size: 18px;
      line-height: 27px;
    }

    p {
      margin: 0;
    }

    ul {
      padding-left: 25px;
    }
  }

  &__link {
    display: flex;
    width: 100%;

    cursor: zoom-in;
  }

  &__image {
    position: relative;
    width: 366px;
    height: 502px;

    @include vp-1023 {
      width: 336px;
      height: 466px;
    }

    @include vp-767 {
      width: 100%;
      max-width: 320px;
      height: 100%;
      max-height: 450px;
    }

    &::before {
      content: "";
      z-index: -1;
      position: absolute;

      top: 0;
      left: 0;

      width: calc(100% - 46px);
      height: calc(100% - 52px);

      border-radius: 10px;
      background-color: rgba($color-royal-blue, 0.2);

      @include vp-1023 {
        width: calc(100% - 16px);
        height: calc(100% - 16px);
      }

      @include vp-767 {
        width: 100%;
        height: 100%;
      }
    }

    img {
      width: 366px;
      height: 502px;
      padding: 52px 0 0 46px;

      border-radius: 10px;

      object-fit: contain;

      @include vp-1023 {
        width: 336px;
        height: 466px;
        padding: 16px 0 0 16px;
      }

      @include vp-767 {
        width: 100%;
        height: 100%;
        padding: 7px 5px;
      }
    }
  }
}
