mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Главная",
      },
      {
        href: "#",
        text: "Услуги"
      },
      {
        href: "#",
        text: "Проекты",
        dropdown: [
          {
            href: "#",
            text: "Примеры проектов"
          },
          {
            href: "#",
            text: "Заказчики"
          },
          {
            href: "#",
            text: "Партнеры"
          }
        ]
      },
      {
        href: "#",
        text: "О компании",
        dropdown: [
          {
            href: "#",
            text: "Сертификаты"
          },
          {
            href: "#",
            text: "Отзывы"
          },
          {
            href: "#",
            text: "Вакансии"
          }
        ]
      },
      {
        href: "#",
        text: "Контакты"
      }
    ]

  header.header(class=headerMods data-header data-media="(max-width: 1199px)")
    .container
      .header__wrapper
        a.header__logo(href="/", aria-label="Переход на главную")
          +icon("logo", 301, 79)
        nav.main-nav
          button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-toggle-menu).btn-reset.main-nav__toggle
            span
            span
            span
          .main-nav__menu
            ul.main-nav__list(data-header-accordion)
              each item in headerLinks
                li.main-nav__item(class={"main-nav__item--dropdown" : item.dropdown} data-header-accordion-item=(!!item.dropdown))
                  a.main-nav__link(href=item.href data-header-accordion-link=(!!item.dropdown))!=item.text
                    if (item.dropdown)
                      +icon("icon-arrow-chevron", 16, 16)
                  if (item.dropdown)
                    ul.main-nav__sublist
                      each subitem in item.dropdown
                        li.main-nav__subitem
                          a.main-nav__sublink(href=subitem.href)!=subitem.text
            .main-nav__contacts
              a.main-nav__phone(href="tel:+78123093688") +7 (812) 309-36-88
              a.main-nav__email(href="mailto:info@d-i.su") info@d-i.su
            +btn({href: "#", text: "Оставить заявку"})(data-open-modal="feedback").main-nav__button

